.info, .error {
	width: 30%;
    position: absolute;
    z-index: 40000;
    top: 60px !important;
    right: 40px;
    left: 40px;
    margin: auto auto;
    background-color: rgb(64, 187, 64);
    color: white;
    box-shadow: 1px 1px 5px rgb(58, 65, 58);
    text-align: center;
    padding: 5px;
    padding-bottom: 0;
    border-radius: 5px;
}

.error {
    background-color: rgb(233, 2, 2);
}

